# Ignore Gradle project-specific cache directory
.gradle
.project
.classpath
.settings/org.eclipse.buildship.core.prefs

# Ignore Gradle build output directory
build

# Ignore files that end with ~
*~

# Ignore .DS_Store files
*.DS_Store