.action-button, .action-button:hover, .action-button:pressed {
    -fx-background-radius: 15;
    -fx-background-insets: 1;
    -fx-border-color: BLACK;
    -fx-border-radius: 15;
    -fx-padding:0;
}

.action-attack {
    -fx-background-color: HOTPINK;
}

.action-attack:hover {
    -fx-background-color: PINK;
}

.action-attack:pressed {
    -fx-background-color: DEEPPINK;
}

.action-move {
    -fx-fill: CORNFLOWERBLUE;
}

.action-move:hover {
    -fx-fill: LIGHTBLUE;
}

.action-move:pressed {
    -fx-fill: DODGERBLUE;
}

.action-upgrade {
    -fx-fill: ORANGE;
}

.action-upgrade:hover {
    -fx-fill: GOLD;
}

.action-upgrade:pressed {
    -fx-fill: TOMATO;
}

.action-spy {
    -fx-fill: LIGHTSEAGREEN;
}

.action-spy:hover {
    -fx-fill: LIGHTGREEN;
}

.action-spy:pressed {
    -fx-fill: FORESTGREEN;
}

.action-cloak {
    -fx-fill: MEDIUMPURPLE;
}

.action-cloak:hover {
    -fx-fill: PLUM;
}

.action-cloak:pressed {
    -fx-fill: SLATEBLUE;
}