.territory-group-1 {
    -fx-background-color: HOTPINK;
}

.territory-group-1:hover {
    -fx-background-color: PINK;
}

.territory-group-1:pressed {
    -fx-background-color: DEEPPINK;
}

.territory-group-2 {
    -fx-background-color: CORNFLOWERBLUE;
}

.territory-group-2:hover {
    -fx-background-color: LIGHTBLUE;
}

.territory-group-2:pressed {
    -fx-background-color: DODGERBLUE;
}

.territory-group-3 {
    -fx-background-color: ORANGE;
}

.territory-group-3:hover {
    -fx-background-color: GOLD;
}

.territory-group-3:pressed {
    -fx-background-color: TOMATO;
}

.territory-group-4 {
    -fx-background-color: LIGHTSEAGREEN;
}

.territory-group-4:hover {
    -fx-background-color: LIGHTGREEN;
}

.territory-group-4:pressed {
    -fx-background-color: FORESTGREEN;
}

.territory-group-5 {
    -fx-background-color: MEDIUMPURPLE;
}

.territory-group-5:hover {
    -fx-background-color: PLUM;
}

.territory-group-5:pressed {
    -fx-background-color: SLATEBLUE;
}

.tooltip-territory {
    -fx-background-radius: 5 5 5 5;
    -fx-font-size: 10pt;
    white-space: pre-wrap;
}

.tooltip-player-info {
    -fx-background-radius: 5 5 5 5;
    -fx-font-size: 10pt;
    white-space: pre-wrap;
}

.character-1 {
    -fx-stroke: HOTPINK;
    -fx-stroke-width: 3;
}

.character-1:hover {
    -fx-stroke: PINK;
    -fx-stroke-width: 3;
}

.character-1:pressed {
    -fx-stroke: DEEPPINK;
    -fx-stroke-width: 3;
}

.character-2 {
    -fx-stroke: CORNFLOWERBLUE;
    -fx-stroke-width: 3;
}

.character-2:hover {
    -fx-stroke: LIGHTBLUE;
    -fx-stroke-width: 3;
}

.character-2:pressed {
    -fx-stroke: DODGERBLUE;
    -fx-stroke-width: 3;
}

.character-3 {
    -fx-stroke: ORANGE;
    -fx-stroke-width: 3;
}

.character-3:hover {
    -fx-stroke: GOLD;
    -fx-stroke-width: 3;
}

.character-3:pressed {
    -fx-stroke: TOMATO;
    -fx-stroke-width: 3;
}

.character-4 {
    -fx-stroke: LIGHTSEAGREEN;
    -fx-stroke-width: 3;
}

.character-4:hover {
    -fx-stroke: LIGHTGREEN;
    -fx-stroke-width: 3;
}

.character-4:pressed {
    -fx-stroke: FORESTGREEN;
    -fx-stroke-width: 3;
}

.character-5 {
    -fx-stroke: MEDIUMPURPLE;
    -fx-stroke-width: 3;
}

.character-5:hover {
    -fx-stroke: PLUM;
    -fx-stroke-width: 3;
}

.character-5:pressed {
    -fx-stroke: SLATEBLUE;
    -fx-stroke-width: 3;
}

.circle-label {
    -fx-graphic: new Circle(45);
}